[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Kodistubs = "*"
pylint = "*"
requests-mock = "*"

[packages]
requests = "*"

[requires]
python_version = "2.7"

[scripts]
lint = "pylint main.py resources"
test = "python -m unittest discover"
it = "python -m unittest discover -p 'it_*.py'"
